Given a column title as appear in an Excel sheet, return its corresponding column number.

For example:

    A -> 1
    B -> 2
    C -> 3
    ...
    Z -> 26
    AA -> 27
    AB -> 28 
    ...
Example 1:

Input: "A"
Output: 1
Example 2:

Input: "AB"
Output: 28
Example 3:

Input: "ZY"
Output: 701

In [3]:
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [4]:
def titleToNumber(s):
    all_=string.ascii_uppercase
    n=len(s)-1
    i=len(s)-1
    ans=0

    while i>-1:
        res=all_.index(s[i])+1
        ans+=26**(n-i)*(res)
        i-=1

    return ans

In [ ]:
#O(N)time and O(1)space